In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('inu_neko_orderline_clean.csv')
df

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,total_sales
0,10300097,719638485153,1001019,2021-01-01 07:35:21.439873,2021,1,1,1,1,20,New York,72.99,Cat Cave,bedding,cat,72.99
1,10300093,73201504044,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,18.95,Purrfect Puree,treat,cat,18.95
2,10300093,719638485153,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,72.99,Cat Cave,bedding,cat,72.99
3,10300093,441530839394,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,2,34,New York,28.45,Ball and String,toy,cat,56.90
4,10300093,733426809698,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,18.95,Yum Fish-Dish,food,cat,18.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38218,10327860,287663658863,1022098,2021-06-30 15:37:12.821020,2021,6,30,30,1,25,New York,9.95,All Veggie Yummies,treat,dog,9.95
38219,10327960,140160459467,1022157,2021-06-30 15:45:09.872732,2021,6,30,30,2,31,Pennsylvania,48.95,Snoozer Essentails,bedding,dog,97.90
38220,10328009,425361189561,1022189,2021-06-30 15:57:44.295104,2021,6,30,30,2,53,New Jersey,15.99,Snack-em Fish,treat,cat,31.98
38221,10328089,733426809698,1022236,2021-06-30 15:59:29.801593,2021,6,30,30,1,23,Tennessee,18.95,Yum Fish-Dish,food,cat,18.95
38222,10328109,717036112695,1011924,2021-06-30 17:30:52.205912,2021,6,30,30,1,24,Pennsylvania,60.99,Reddy Beddy,bedding,dog,60.99

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38223 entries, 0 to 38222
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trans_id          38223 non-null  int64
 1   prod_upc          38223 non-null  int64
 2   cust_id           38223 non-null  int64
 3   trans_timestamp   38223 non-null  object
 4   trans_year        38223 non-null  int64
 5   trans_month       38223 non-null  int64
 6   trans_day         38223 non-null  int64
 7   trans_hour        38223 non-null  int64
 8   trans_quantity    38223 non-null  int64
 9   cust_age          38223 non-null  int64
 10  cust_state        38223 non-null  object
 11  prod_price        38223 non-null  float64
 12  prod_title        38223 non-null  object
 13  prod_category     38223 non-null  object
 14  prod_animal_type  38223 non-null  object
 15  total_sales       38223 non-null  float64
dtypes: float64(2), int64(9), object(5)
memory usage: 4.7+ MB

Question 1: Duplicate Records
How many duplicate transaction records are there? Do not count the first occurence as a duplicate. Assign your answer to the variable dup_rows

In [10]:
dup_rows = df.duplicated().sum()
#print(dup_rows)

Question 2: Drop Duplicate Records
Drop the duplicated records and assign the output DataFrame to a new variable called df_cleaned. Use this from now on.

In [11]:
df_cleaned = df.drop_duplicates(subset=None,keep='last', ignore_index=False)

Question 3: Consistent Formatting
Fix the inconsistencies in the column cust_state.

In [12]:
# your code here
df_cleaned["cust_state"].unique()
df_cleaned["cust_state"].replace(["NY","PA","NJ","CT"],["New York","Pennsylvania","New Jersey","Connecticut"], inplace= True)

Question 4: Fistful of Dollars I
Validate the prices in prod_price. Remove any rows that are obviously wrong

In [13]:
lower_bound = 1
upper_bound = 300
df_cleaned = df_cleaned[(df_cleaned['prod_price'] >= lower_bound) & (df['prod_price'] <= upper_bound)]
df_cleaned.head(50)

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,total_sales
0,10300097,719638485153,1001019,2021-01-01 07:35:21.439873,2021,1,1,1,1,20,New York,72.99,Cat Cave,bedding,cat,72.99
1,10300093,73201504044,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,18.95,Purrfect Puree,treat,cat,18.95
2,10300093,719638485153,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,72.99,Cat Cave,bedding,cat,72.99
3,10300093,441530839394,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,2,34,New York,28.45,Ball and String,toy,cat,56.90
4,10300093,733426809698,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,18.95,Yum Fish-Dish,food,cat,18.95
5,10300091,344934101144,1001012,2021-01-01 10:08:32.241027,2021,1,1,1,1,26,New Jersey,24.95,Fetch Blaster,toy,dog,24.95
6,10300096,717036112695,1001018,2021-01-01 10:43:40.372766,2021,1,1,1,1,26,Pennsylvania,60.99,Reddy Beddy,bedding,dog,60.99
7,10300103,242313721729,1001025,2021-01-01 11:05:32.193258,2021,1,1,1,1,24,New Jersey,65.99,Reddy Beddy,bedding,dog,65.99
8,10300100,100469015054,1001022,2021-01-01 11:39:46.749952,2021,1,1,1,1,27,New York,18.95,Tuna Tasties,treat,cat,18.95
9,10300102,287663658863,1001024,2021-01-01 11:44:27.467186,2021,1,1,1,1,35,Connecticut,9.95,All Veggie Yummies,treat,dog,9.95
10,10300101,441530839394,1001023,2021-01-01 12:14:47.132247,2021,1,1,1,1,29,Connecticut,28.45,Ball and String,toy,cat,28.45
11,10300101,287663658863,1001023,2021-01-01 12:14:47.132247,2021,1,1,1,1,29,Connecticut,9.95,All Veggie Yummies,treat,dog,9.95
12,10300098,242313721729,1001020,2021-01-01 12:21:14.473565,2021,1,1,1,2,28,Pennsylvania,65.99,Reddy Beddy,bedding,dog,131.98
13,10300094,374613020864,1001016,2021-01-01 12:40:29.169799,2021,1,1,1,1,29,New York,10.97,Chewie Dental,treat,dog,10.97
14,10300099,832878954342,1001021,2021-01-01 12:52:02.370864,2021,1,1,1,1,19,Pennsylvania,45.99,Snoozer Hammock,bedding,cat,45.99
15,10300092,469757173540,1001014,2021-01-01 13:10:33.543618,2021,1,1,1,1,32,New Jersey,35.99,Kitty Climber,toy,cat,35.99
16,10300095,73201504044,1001017,2021-01-01 14:32:28.903947,2021,1,1,1,1,31,Connecticut,18.95,Purrfect Puree,treat,cat,18.95
17,10300107,374613020864,1001028,2021-01-02 03:58:22.059670,2021,1,2,2,1,21,Connecticut,10.97,Chewie Dental,treat,dog,10.97
18,10300113,100469015054,1001034,2021-01-02 06:14:35.006901,2021,1,2,2,1,29,Pennsylvania,18.95,Tuna Tasties,treat,cat,18.95
19,10300113,469757173540,1001034,2021-01-02 06:14:35.006901,2021,1,2,2,3,29,Pennsylvania,35.99,Kitty Climber,toy,cat,107.97
20,10300110,969568933713,1001031,2021-01-02 07:13:26.325972,2021,1,2,2,1,21,New York,32.99,Foozy Mouse,toy,cat,32.99
21,10300110,521244155990,1001031,2021-01-02 07:13:26.325972,2021,1,2,2,2,21,New York,54.95,Reddy Beddy,bedding,dog,109.90
22,10300104,344538897332,1001026,2021-01-02 07:42:56.224519,2021,1,2,2,2,35,Pennsylvania,19.99,Feline Fix Mix,treat,cat,39.98
23,10300111,832878954342,1001032,2021-01-02 08:45:17.192870,2021,1,2,2,1,27,Pennsylvania,45.99,Snoozer Hammock,bedding,cat,45.99
24,10300114,845773115334,1001035,2021-01-02 09:39:27.202049,2021,1,2,2,1,35,New York,12.99,Purr Mix,food,cat,12.99
25,10300114,733426809698,1001035,2021-01-02 09:39:27.202049,2021,1,2,2,2,35,New York,18.95,Yum Fish-Dish,food,cat,37.90
26,10300109,575410882303,1001030,2021-01-02 09:47:55.629967,2021,1,2,2,2,23,New Jersey,21.95,Chomp-a Plush,toy,dog,43.90
27,10300118,100469015054,1001039,2021-01-02 09:48:36.789002,2021,1,2,2,1,24,New York,18.95,Tuna Tasties,treat,cat,18.95
28,10300105,73201504044,1001022,2021-01-02 10:50:35.484084,2021,1,2,2,2,27,New York,18.95,Purrfect Puree,treat,cat,37.90
29,10300105,287663658863,1001022,2021-01-02 10:50:35.484084,2021,1,2,2,1,27,New York,9.95,All Veggie Yummies,treat,dog,9.95
30,10300106,483326155497,1001027,2021-01-02 10:56:33.422516,2021,1,2,2,3,29,Pennsylvania,10.99,The New Bone,food,dog,32.97
31,10300117,621046126170,1001038,2021-01-02 11:27:04.566102,2021,1,2,2,1,31,Connecticut,22.99,Tug-a-Back,toy,dog,22.99
32,10300117,374613020864,1001038,2021-01-02 11:27:04.566102,2021,1,2,2,2,31,Connecticut,10.97,Chewie Dental,treat,dog,21.94
33,10300112,717036112695,1001033,2021-01-02 12:00:24.545313,2021,1,2,2,1,37,Pennsylvania,60.99,Reddy Beddy,bedding,dog,60.99
34,10300115,100469015054,1001036,2021-01-02 12:05:41.953676,2021,1,2,2,1,27,New York,18.95,Tuna Tasties,treat,cat,18.95
35,10300119,73201504044,1001040,2021-01-02 13:08:34.653945,2021,1,2,2,1,39,New York,18.95,Purrfect Puree,treat,cat,18.95
36,10300108,704772572943,1001029,2021-01-02 13:16:01.561754,2021,1,2,2,1,35,Pennsylvania,35.98,Scratchy Post,toy,cat,35.98
37,10300108,469757173540,1001029,2021-01-02 13:16:01.561754,2021,1,2,2,1,35,Pennsylvania,35.99,Kitty Climber,toy,cat,35.99
38,10300116,969568933713,1001037,2021-01-02 13:27:12.292522,2021,1,2,2,1,28,New York,32.99,Foozy Mouse,toy,cat,32.99
39,10300120,575410882303,1001041,2021-01-03 08:56:49.277998,2021,1,3,3,1,51,Pennsylvania,21.95,Chomp-a Plush,toy,dog,21.95
40,10300121,521244155990,1001042,2021-01-03 10:41:16.095070,2021,1,3,3,1,21,South Carolina,54.95,Reddy Beddy,bedding,dog,54.95
41,10300123,140160459467,1001044,2021-01-03 10:42:24.351547,2021,1,3,3,3,42,New York,48.95,Snoozer Essentails,bedding,dog,146.85
42,10300123,719638485153,1001044,2021-01-03 10:42:24.351547,2021,1,3,3,3,42,New York,72.99,Cat Cave,bedding,cat,218.97
43,10300122,832878954342,1001043,2021-01-03 11:01:30.250997,2021,1,3,3,1,25,Michigan,45.99,Snoozer Hammock,bedding,cat,45.99
44,10300122,73201504044,1001043,2021-01-03 11:01:30.250997,2021,1,3,3,1,25,Michigan,18.95,Purrfect Puree,treat,cat,18.95
45,10300122,845773115334,1001043,2021-01-03 11:01:30.250997,2021,1,3,3,2,25,Michigan,12.99,Purr Mix,food,cat,25.98
46,10300124,374613020864,1001045,2021-01-04 12:05:54.377257,2021,1,4,4,1,25,Connecticut,10.97,Chewie Dental,treat,dog,10.97
47,10300133,969568933713,1001053,2021-01-05 06:50:27.834297,2021,1,5,5,1,24,New York,32.99,Foozy Mouse,toy,cat,32.99
48,10300133,140160459467,1001053,2021-01-05 06:50:27.834297,2021,1,5,5,2,24,New York,48.95,Snoozer Essentails,bedding,dog,97.90
49,10300133,717036112695,1001053,2021-01-05 06:50:27.834297,2021,1,5,5,5,24,New York,60.99,Reddy Beddy,bedding,dog,304.95

Question 5: Fistful of Dollars II
Correct the values in the total_sales column. Use prod_price and trans_quantity.

In [14]:
df_cleaned['total_sales'] = df_cleaned.prod_price * df_cleaned.trans_quantity
df_cleaned['total_sales'] = df_cleaned['total_sales'].astype('float')

Question 6: Missing Values I
How many missing values are there?

In [15]:
num_nans = df_cleaned.isnull().sum().sum()
df_cleaned = num_nans

Question 7: Missing Values II
Drop any columns with missing values.

In [18]:
drop_any = df_cleaned.dropna(axis='column', how='any')
df_cleaned = df_cleaned[drop_any]

AttributeError: 'numpy.int64' object has no attribute 'dropna'